<li>
	{{name}}

	<button class="eat" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if devoured}}DELETE{{else}}EAT IT!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
