<li>
	{{name}}

	<button class="eat-burger" data-id="{{id}}" data-newdevour="{{eaten}}">
		{{#if eaten}}Eat!!{{else}}Return!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
